APP_NAME="POS cafeteria"
VITE_APP_NAME="POS cafeteria"
APP_ENV=local
VITE_APP_ENV=local
APP_KEY=base64:5kp9GwSSgEjWfD4hfCKhvqDrQxxaPrS7xcD2Ao3iu2g=
APP_DEBUG=true
APP_TIMEZONE=America/Mexico_City
APP_URL=http://localhost
VITE_APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
# DB_HOST="host.docker.internal"
DB_PORT=3306
DB_DATABASE=chantico
DB_USERNAME=root
DB_PASSWORD=Dasfac10

# Variables específicas para entorno Docker
# DB_HOST=mysql
# DB_PASSWORD=root

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

# --- Reverb (WebSocket) ---
REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=localhost
REVERB_SERVER_PORT=6001
REVERB_PORT=6001
REVERB_SCHEME=http

# Copiar los mismos valores de REVERB_APP_KEY, REVERB_HOST, REVERB_PORT, REVERB_SCHEME
VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=6001
VITE_REVERB_SCHEME=http

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

APP_RUN_MIGRATIONS=false
#superadmin
APP_SUPER_ADMIN_USER="super-admin"
APP_SUPER_ADMIN_PASSWORD="super_admin"
APP_SUPER_ADMIN_EMAIL="superadmin@pos-app.com"

APP_ADMIN_USER="admin"
APP_ADMIN_PASSWORD="admin"
APP_ADMIN_EMAIL="admin@pos-app.com"

# User
APP_USER_USER="employe"
APP_USER_PASSWORD="employe"
APP_USER_EMAIL="employe@pos-app.com"
